@font-face {
  font-family: 'NSRegular';
  src: url('./fonts/NanumSquareOTFRegular.otf');
}

@font-face {
  font-family: 'NSBold';
  src: url('./fonts/NanumSquareOTFBold.otf');
}

@font-face {
  font-family: 'NSExtrabold';
  src: url('./fonts/NanumSquareOTFExtraBold.otf');
}

@font-face {
  font-family: 'NSLight';
  src: url('./fonts/NanumSquareOTFLight.otf');
}

body{
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/*header and navbar designs*/
header {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.navigation{
  float: right;
  margin-right: 30px;
}

.nav-button{
  text-align: center;
  float: left;
  display: flex;
  padding : 10px;
}

.nav-button a{
  font-size: 17px;
  text-decoration: none;
  font-family: 'NSExtrabold';
  color: #fff;
}

.nav-button:hover {
  background-color: #818181;
}

/*main content*/
.content{
  position: static;
  display: block;
  margin: 0 auto;
}

/*introbox*/
.intro{
  margin-left:auto;
  margin-right:auto;
  width: 70%;
}
/*.main-background{
  z-index: 0;
  position: absolute;
  color: rgba(0,0,0,0.3);
  height: 800px;
}*/

h1{
  font-family: 'Hind';
  color: #000000
}

h2{
  font-family: 'NSRegular';
  color: #000000
}

.intro-message{
  margin-left:auto;
  margin-right:auto;
  position: relative;
  font-family: 'NSRegular';
  font-size: 12pt;
  text-align: left;
}

/*portfolio lists*/

.portfolio-list{
  margin-left:auto;
  margin-right:auto;
}

.portfolio-title{
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  color: #424242;
  font-size: 15pt;
  font-family: 'NSRegular';
}

.portfolio-subtitle{
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  color: #797979;
  font-size: 12pt;
  font-family: 'NSLight';
}

/*contact*/
.contact{
  margin-left:auto;
  margin-right:auto;
}

.contact-item{
  width: 100px;
}

/*footer*/
.footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'NSRegular';
  font-size: 8pt;
  position: absolute;
  bottom: 0px;
}
