*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Nanum Square';
  src: url('./fonts/NanumSquareOTFRegular.ttf');
  font-weight: Regular;
}

@font-face {
  font-family: 'Nanum Square';
  src: url('./fonts/NanumSquareOTFBold.ttf');
  font-weight: Bold;
}

@font-face {
  font-family: 'Nanum Square';
  src: url('./fonts/NanumSquareOTFExtraBold.ttf');
  font-weight: Extrabold;
}

/*header and navbar designs*/
header {
  overflow: hidden;
  background-color: rgba();
  padding: 20px;
}

.navigation{
  padding-top: 30px;
  text-align: right;
}


.navigation a{
  font-size: 16px;
  padding : 14px 16px;
  text-decoration: none;
  font-family: 'Nanum Square', Bold;
  color: #fff;
}

.navigation a:hover, {
  color: #818181;
}

/*main content designs*/
.intro-box{
  width = 100%;
  height = 100%;
  background-image: url("../images/main_image.jpeg")
}

h1{
  font-family: 'Hind', Bold;
  color: #fff
}

h2{
  font-family: 'Nanum Square', Extrabold;
  font-size: 20pt;
  color: #fff
}


p{
  font-family: 'Nanum Square';
  font-size: 12pt;
}

.footer {
  text-align: center;
  font-family: 'Nanum Square';
  font-size: 8pt;
  padding: 50px;
}
