*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Nanum Square';
  src: url('./fonts/NanumSquareOTFRegular.ttf');
  font-weight: Regular;
}

@font-face {
  font-family: 'Nanum Square';
  src: url('./fonts/NanumSquareOTFBold.ttf');
  font-weight: Bold;
}

@font-face {
  font-family: 'Nanum Square';
  src: url('./fonts/NanumSquareOTFExtraBold.ttf');
  font-weight: Extrabold;
}

body{
  background-color: antiquewhite;
}

/*header and navbar designs*/
header {
  overflow: hidden;
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
}

.navigation{
  text-align: right;
}

.navigation a{
  font-size: 15px;
  padding : 10px;
  text-decoration: none;
  font-family: 'Nanum Square', Bold;
  color: #fff;
}

.navigation a:hover {
  color: #818181;
}

/*main content designs*/

/*introbox design*/
.content{
  position: static;
  display: block;
  margin: 0 auto;
}

.main-background{
  z-index: 0;
  position: absolute;
  color: rgba(0,0,0,0.3);
  height: 800px;
}

.intro-name{
  z-index: 10;
  width: 100%;
  position: absolute;
  text-align: center;
  margin-top: 40%;
}

h1{
  font-family: 'Hind';
  color: #fff
}

h2{
  font-family: 'Nanum Square', Regular;
  color: #fff
}

.intro-message{
  position: relative;
  top: 500px;
}

p{
  font-family: 'Nanum Square';
  font-size: 12pt;
}

.footer {
  text-align: center;
  font-family: 'Nanum Square';
  font-size: 8pt;
  padding: 50px;
}
